---
import Base from "@/layouts/Base.astro";
---

<Base title="Page Not Found">
  <section class="section-sm text-center">
    <div class="container">
      <div class="row justify-center">
        <div class="sm:col-10 md:col-8 lg:col-6">
          <span
            class="text-[8rem] block font-bold text-dark dark:text-darkmode-dark"
          >
            Lỗi 404
          </span>
          <h1 class="h2 mb-4">Không tìm thấy trang bạn đang tìm kiếm hoặc đang bảo trì</h1>
          <div class="content">
            <p>
              Trang bạn đang tìm kiếm hiện không có hoặc đang bảo trì.
            </p>
          </div>
          <a href="/" class="btn btn-primary mt-8">Trở lại trang chủ</a>
        </div>
      </div>
    </div>
  </section>
</Base>
